---
layout: default
---

{% include hero.html %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <br>
          <center><h3 style="color:Tomato;">Blogs</h3></center>

          <br>
          <br>
          <div class="elementor-element elementor-element-2e9c06e elementor-align-center elementor-widget elementor-widget-button" data-id="2e9c06e" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://spy0x7.github.io/blogs" target="_blank" rel="nofollow" class="elementor-button-link elementor-button elementor-size-sm" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Check my Recent Write-Ups </span>
</span>
</a>
</div>
</div>
</div>
          <div class="row grid">
            {% if site.posts.size > 3 %}
              {% for post in paginator.posts %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}