/* Page */
.page {
  position: relative;
  margin-bottom: 30px;
}


.page-image {
  width: 457px;
  height: 700px;
  bottom: 15%;
}

.image-box {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
  background-color: $dark;
}

.page-head {
  margin: 40px 0;
}

.page__content {
  color: rgba($text-color, .6);
  a {
    &:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
}