/* Page */
.page {
  position: relative;
  margin-bottom: 30px;
}

.page-title {
  font-size: 43px;
  margin-bottom: 20px;
  text-align: center;
  @media only screen and (max-width: $tablet) {
    font-size: 38px;
  }
  @media only screen and (max-width: $tablet) {
    font-size: 28px;
  }
}

.page-image {
  position: absolute;
  top: 0;
  max-width: 100%;
  alt="Pineapple"
  max-height: 100%;
  object-fit: cover;
  user-select: none;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.image-box {
  position: relative;
  max-width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: $dark;
  
  @media only screen and (max-width: $desktop) {
    padding-top: 55%;
  }
  
  @media only screen and (max-width: $tablet) {
    padding-top: 65%;
  }
}

.page-head {
  margin: 40px 0;
}

.page__content {
  color: rgba($text-color, .6);
  a {
    &:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
}